body {
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
/* Changing Bootstrap layout */
.container-fluid .row{
    justify-content: center;
}
/* Center content */
.row.align-items-center{
    justify-content: center;
    text-align: center;
}
/* h1 tags */
.display-5 {
    text-align: left;
    margin-left: 15px;
}
/* Cards */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 300px;
    margin-bottom: 2rem;
}
.card-img-top{
    height: 200px;
    object-fit: fill;
}
/* Contact */
.img-fluid {
    max-width: 300px;
    object-fit: fill;
}
/* Footer and socials */
.d-flex.flex-column .p-2 img {
    margin: 0.5rem 0;
}
/* Newsletter input */
.locations {
    margin-top: 2rem;
}