body {
    font-family: "Lato", Arial, Helvetica, sans-serif, system-ui;
    margin: 0;
    padding: 0;
    color: #333;
}
/* Changing Bootstrap layout */
.container-fluid .row{
    justify-content: center;
}
/* Center content */
.row, .align-items-center{
    justify-content: center;
    text-align: center;
}
/* h1 tags */
.display-5 {
    text-align: left;
    margin-left: auto;
}
/* Cards */
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.card {
    width: 300px;
    margin-bottom: 2rem;
}
.card-img-top{
    height: 200px;
    object-fit: fill;
}
.logo-fluid {
    width: 100px;
    max-width: 100%;
}
/* Contact */
.img-fluid {
    width: 200px;
    height: 200px;
    min-width: none;
}
.icon-fluid {
    width: 30px;
    max-width: 100%;
    object-fit: fill;
    cursor: pointer;
}
/* Footer and socials */
.d-flex.flex-column .p-2 img {
    margin: 0.5rem 0;
}
/* Newsletter input */
.locations {
    margin-top: 2rem;
}

/* Contact Page */
.bg-container {
    height: 75vh;
    background-color: #D1D1D1;
    background: no-repeat;
    background-size: 100% 75vh;
    background-position: center;
}